desktop.ini
.vs
bin
MeshProc/obj
*.user
packages
MeshProc/cube.stl
MeshProc/out.stl
MeshProc/out.ply
*.csv
extra/perf_looper/out
extra/perf_looper/deps/google_benchmark/**
MeshProc/vcpkg_installed
test/test-obj.obj
test/test-commands-1.obj
MeshProc/out.obj
test/test-selection.obj
test/test-VertexEdgeDistanceToCut.obj
