#
# This script runs after Dependabot created or edited a pull request, aka updated nuget packages, for example
# It then runs "extra/nuget_proxy/m2n.ps1" to reflect the updated nuget packages from the proxy project that dependabot worked on, in the real native project.
#
name: Dependabot Post-Update Processing

on:
  pull_request:
    types: [opened, synchronize]
    branches: ["**"]

jobs:
  postprocess:
    if: github.actor == 'dependabot[bot]'
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Update native nuget packages from proxy project
        shell: pwsh
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: |
          ./extra/nuget_proxy/m2n.ps1

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Post-process updates" || echo "No changes to commit"
          git push
